:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* ______________________________________________________card */
.card {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 10px 15px #252525;
}
.openModalDiv {
  text-align: center;
  width: 100%;
}
.openModalDiv:is(:hover, :focus){
  cursor: pointer;
}
.openModalDiv img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}


/* ______________________________________________________ modal */
.modal-root {
  position: absolute;
  inset: 0;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.modal {
  width: 600px;
  background-color: #fff;
  color: #242424;
  padding: 0.5rem;
  border-radius: 0.356rem;
}
.modal-header {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #584e4e;
  position: relative;
}
.modal-header button {
  background-color: transparent;
  font-size: 1rem;
  font-weight: bold;
  transform: scaleX(1.2);
  border: none;
  color: #6d6b6b;
  position: absolute;
  right: 5px
}
.modal-header button:is(:hover, :active) {
  color:#242424;
  cursor: pointer;
}
.modal-footer {
  border-top: 1px solid #4d4c4cc0;
  padding: 0.2rem;
  display: flex;
  justify-content: center;
}
/* __________________________________________styles for the submit button  */
.modal-submit-btn{
  padding: 0.5rem;
  letter-spacing: 3px;
  border-radius: 0.256rem;
  background-color: orangered;
  border: none;
}
.modal-submit-btn:is(:hover, :active){
  background-color: rgb(163, 46, 3);
  cursor: pointer;
}
.d-none {
  display: none;
}

/*__________________ changing the color when you select something  */
::selection {
  background-color: salmon;
}